<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 3px 10px 0 lightgrey;
}

.title {
  padding: 40px;
  text-align: center;
  background-color: #F7F7F9;
}

.objectives {
  overflow: auto;
  background-color: #F7F7F9;
}

.presentation, .introduction {
  float: left;
  width: 69%;
}

.target, .rewards {
  float: left;
  width: 29%;
}

.project_details {
  clear: both;
}

.project_details li{
  display: inline;
}

.rewards div {
  border: 1px red solid;
  margin: 20px;
  padding: 0 20px;
  background-color: #F8F9FD;
  border: 1px solid #e0e4fb;
=======
.headtitle, .bottomtitle {
  font-size: 2em;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  padding: 15px 0;
  margin: 0
}

.bottomtitle {
  padding: 0;
}

.greentext {
  color: #2BDE73;
}

.advert {
  background-color: #F7F7F9;
  padding-bottom: 1em;
}

.presentation img {
  margin: 1em auto;
}

.location span {
  font-weight: bold;
  padding-right: 1em;
}

.title {
  padding: 1.5em 0;
}

.project_details {
  border-top: 1px solid #F1EEEA;
  border-bottom: 1px solid #F1EEEA;
}

.project_details li {
  padding: 20px 0;
}

.target {
  font-weight: bold;
}

.targetnum {
  font-size: 3em;
}

.endtarget {
  font-weight: normal;
  color: #80809E;
}

.btn-success {
  background-image: none;
  background-color: #2BDE73;
  border: none;
  transition: 0.3s;
  font-weight: bold;
  font-size: 1em;
  padding: 1.5em;
}

.frama {
  color: #80809E;
}

.frama:hover {
  text-decoration: none;
  color: #333;
}

.supportme {
  margin: 0; 
}

.support {
  margin: 20px 20px 20px 0;
}

.author .col-xs-7 {
  padding:0;
}

.logo_pop {
  max-width: 7em;
}

.project_details li {
  padding: 0;
}

.nav > li > a {
  padding: 15px;
  text-decoration: none;
  color: #333;
}

.valign_title {
  margin-top: 1em;
}

.contenu {
  margin-bottom: 2em;
}

.clients, .language {
  text-align: center;
}

.clients img, .language img {
  height: 3.5em;
  margin: 1em auto;
}

.language img {
  height: 7em;
}

.procent {
  margin-bottom: 1em;
}

.procent p {
  font-weight: bold;
}

.pledge {
  display: block;
  border: 1px solid #e0e4fb;
  border-radius: 6px;
  background: #F8F9FD;
  margin-bottom: 20px;
  font-size: 14px;
  transition: 0.3s;
  color: #333;
}

.pledge:hover {
  text-decoration: none;
  color: #333;
}

.hovergreen {
  padding: 20px;
  transition: 0.3s;
}

.hovergreen:hover {
  background-color: rgba(43,222,115,0.9);
}

.rewards h2, .rewards h3 {
  font-size: 1.5em;
}

.rewards h2 {
  color: #586BE9;
}

.rewards h4 {
  text-transform: uppercase;;
  font-size: 0.9em;
}

.rewards h4, .giveaway {
  color: #80809E;
}

#showcontacts:checked~.coordonnees {
  display: none;
}

.coordonnees {
  position: fixed;
  top: 25%;
  left: 0;
  width: 100%;
  padding: 3em 0;
  background-color:#FFF;
  color: #333;
  font-weight: normal;
  background-color: rgba(245, 245, 245, 0.9);
  box-shadow: 0px 0px 10px 0px #333;
}

.coordonnees div p {
  font-size: 1.2em;
}

.glyphicon-scissors {
  color: #2BDE73;
  left: 50px;
  top: -6px;
}

footer {
  border-top: 1px dashed #2BDE73;
  background-color: #020621;
  color: #FFF;
}

.licence {
  font-weight: bold;
}

.checkbox {
  display: none;
>>>>>>> fs-pages
}
